<app-navbar-inicial></app-navbar-inicial>

<div id="cuerpo" class="row">
    <div class="card-body">
        <h1 class="text-center">Iniciar Sesión</h1>
        <form>
            <div class="form-group">
                <h5>Correo electrónico:</h5>
                <input type="email" id="correo" class="form-control" #inputCorreo placeholder="Ingresa tu Nombre de Usuario">
            </div>
            <div class="form-group">
                <h5>Contraseña:</h5>
                <input type="password" id="contra" class="form-control" #inputContra placeholder="Ingresa tu Contraseña">
            </div>
            <div class="text-center">
                <p><a href="/#">¿Has olvidado tu contraseña?</a></p>
                <p>¿No tienes cuenta? <a href="/registro"> Regístra tu cuenta</a></p>
            </div>
            <div class="text-center">
                <input type="submit" value="Iniciar" class="btn btn-lg btn_spotify mt-3">
            </div>
        </form>
    </div>
</div>