<app-navbar-inicial></app-navbar-inicial>
<div id="cuerpo" class="fondo text-white">
    <form action="#" class="fondo_formulario p-5 container-fluid  formulario" id="formulario">
        <h2>Crea tu cuenta</h2>
        <br>
        <div class="pl-5 pr-5">
            <div class="form-group">
                <label for="correo" class="font-weight-bold">Nombre</label>
                <input type="text" [(ngModel)]="nombre" class="form-control operator1" name="operator1" required placeholder="Ingresa tu Nombre">
            </div>
            <div class="form-group">
                <label for="nombre" class="font-weight-bold">Nombre de usuario</label>
                <input type="text" id="nombreUsuario" [(ngModel)]="nombreUsuario" class="form-control operator2" name="operator2" class="form-control" placeholder="Ingresa tu Nombre de Usuario">
            </div>
            <div class="form-group">
                <label for="correo-confirm" class="font-weight-bold">Correo electrónico</label>
                <input type="email" id="correo" [(ngModel)]="correo" class="form-control operator3" name="operator3" placeholder="nombre@example.com">
            </div>
            <div class="form-group">
                <label for="contra" class="font-weight-bold">Contraseña</label>
                <input type="password" id="contrasenia" [(ngModel)]="contrasenia" class="form-control operator4" name="operator4" placeholder="Ingresa tu Contraseña">
            </div>

            <div class="form-group text-center">
                <br><br>
                <p>
                    Al hacer click en Registrarte <br> aceptas los Terminos y condiciones de Uso de Calculadora IMC. </p>
                <input type="submit" value="Registrate" class="btn btn-lg btn_spotify mt-3"
                    (click)="registrarUsuario()">
            </div>
        </div>
    </form>
</div>