<app-imcui></app-imcui>
<div>
  <div id="btn-operations" class="btn-group btn-group-lg">
    <button type="button" class="btn btn-primary calculaIMC-button" style="text-align:center">Guarda tu Resultado</button>
  </div>
</div>
<h1 class="principal">Registros</h1>
<table id="historial" class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">IMC</th>
        <th scope="col">Estado Actual</th>
        <th scope="col">Peso Minimo Ideal</th>
        <th scope="col">Peso Maximo Ideal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
